.Rproj.user
.Rhistory
.RData
.Ruserdata


# temporary scripts
R/examples/test*

# data
*.nc

# Figures
*.pdf
*.png

*/temp/*
*/*/temp/*
backup
*.grd
inst/doc

# suppress anusplin
output
backup
# *.exe
data-raw/shp
*.html
*.nc
*.fst
